HOST_IP=127.0.0.1

# MT5 Backend
CUSTOM_USER=admin
PASSWORD=1234
VNC_DOMAIN=vnc.mt5.example.com
API_DOMAIN=api.mt5.example.com
MT5_API_PORT=5001
MT5_API_URL=http://mt5:5001

# Traefik
TRAEFIK_SERVICE_DOMAIN=traefik.example.com
TRAEFIK_USERNAME=admin
ACME_EMAIL=user@example.com

# Monitoring
GRAFANA_SERVICE_DOMAIN=grafana.example.com

# Django
DJANGO_SECRET_KEY=''
DJANGO_DEBUG=False
DJANGO_SERVICE_DOMAIN=django.example.com

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=1234

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0